*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", sans-serif;
}
.header{
        background-image: url("https://images.unsplash.com/photo-1543489816-c87b0f5f7dd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
            height: 100%; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
.navbar{
    padding-top: 20px;
}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: greenyellow;
    font-size: 15px;
    padding: 0 0 5px 0;
    display: unset !important;
}
.navbar-brand img{
    width: 125px;
}
.fa-bars{
    color: #fff;
    font-size: 40px !important;
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
    
}
.active-explore units{
    border-bottom: 2px solid #fff;
}
.nav-link:hover{
    border-bottom: 2px solid #fff;
}
.banner{
    margin-top: 8%;
    color: #fff;
}
.banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 50px;
    
}
.banner img{
    max-height: 500px;
}
.banner a{
    padding: 12px;
    width: 150px;
    display: inline-block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.banner a:hover{
    color: #fff;
}
.express-btn{
    background: #fff !important;
    color: #000 !important;
    margin-right: :5px;
}
.service{
    margin: 75px 0;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.subtitle{
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
}
